In [70]:
import pandas as pd
import numpy as np
import re

In [71]:
cars_df = pd.read_csv('./webscraping/cars_data.csv')

In [72]:
cars_df

,make,mileage,year,condition,price
0,Ford F-150 2005,"177,341Km\r\n",2005\r\n,Foreign Used,"3,270,000 ..."
1,2015 Toyota Corolla,2015\r\n,NL-000222\r\n,Foreign Used,"4,750,000 ..."
2,2019 Mercedes-Benz GLC300,2019\r\n,NL-000162\r\n,Foreign Used,"20,000,000 ..."
3,2014 Mercedes-Benz ML350,2014\r\n,NL-000217\r\n,Foreign Used,"15,200,000 ..."
4,2015 Mercedes-Benz C300,"93,916Km\r\n",2015\r\n,Nigerian Used,"10,090,000 ..."
...,...,...,...,...,...
4555,1999 Seat Cordoba,"279,649Km\r\n",1999\r\n,Foreign Used,"1,275,000 ..."
4556,2011 Cadillac Escalade,"21,308Km\r\n",2011\r\n,Nigerian Used,"4,520,000 ..."
4557,2010 Toyota Land Cruiser Prado,"48,502Km\r\n",2010\r\n,Nigerian Used,"9,210,000 ..."
4558,2005 Mercedes-Benz Slk350,"80,497Km\r\n",2005\r\n,Nigerian Used,"3,001,250 ..."
4559,2012 Mitsubishi Pajero,"124,776Km\r\n",2012\r\n,Nigerian Used,"3,957,500 ..."

In [73]:
cars_df['price'][0]

' 3,270,000                                        \r\n                                    '

In [42]:
def clean_column1():

SyntaxError: unexpected EOF while parsing (<ipython-input-42-580d2d989039>, line 2)

In [13]:
data['price'] = data['price'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

In [34]:
cars_df['price'] = cars_df['price'].replace(regex=True,to_replace=r'\r''\n',value=r'')

In [35]:
cars_df['price'][0]

' 3,270,000                                                                            '

In [40]:
cars_df['price'] = cars_df['price'].replace(regex=True,to_replace='                                                                            ', value = r'')

In [41]:
cars_df['price'][0]

' 3,270,000'

In [60]:
cars_df['price']= cars_df['price'].replace(regex=True,to_replace=',', value = r'')

In [61]:
cars_df['price'][0]

' 3270000'

In [62]:
cars_df['price'] = cars_df['price'].replace(regex=True,to_replace=' ', value = r'')

In [63]:
cars_df['price'][0]

'3270000'

In [74]:
cars_df['price'] = cars_df['price'].replace(regex=True,to_replace=r'\r''\n',value=r'').replace(regex=True,to_replace='                                                                            ', value = r'').replace(regex=True,to_replace=',', value = r'').replace(regex=True,to_replace=' ', value = r'')

In [75]:
cars_df['price'][0]

'3270000'