In [21]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
import re
import requests  
from bs4 import BeautifulSoup

In [22]:
urls =[] 
for i in range(1,11):
    sites = f'https://buy.cars45.com/cars?page={i}'
    urls.append(sites)

In [23]:
def get_datas(url):
    details=[]
    rs = requests.get(url)
    soup = BeautifulSoup(rs.text, 'lxml')
    results1 = soup.find_all('figcaption')
    details.append(results1)
    car_details1 = []  
    for car_detail1 in results1:
        CarId = car_detail1.find_all('span', class_ = 'intersemibold')
        Make = car_detail1.find('h4').get_text(strip=True).split('C45')[0]
        Year = car_detail1.find_all(class_ = 'intersemibold')
        Mileage = car_detail1.find_all(class_ = 'text-small mb-1')
        Condition = car_detail1.find(class_ = 'd-none d-sm-block').text
        Price = car_detail1.find(class_ = 'price').text
        car_details1.append((CarId, Make, Year, Mileage, Condition, Price))
    return car_details1

In [24]:
#for url in urls:
#    output_data = get_datas(url)
 #   df = pd.DataFrame(output_data)
 #   df.to_csv(index=False)

In [25]:
output_list = [get_datas(url) for url in urls]

In [59]:
#output_list

In [81]:
df = pd.DataFrame(output_list[0])

In [84]:
df1 = df.append(pd.DataFrame(output_list[1]))

In [88]:
df2 = df1.append(pd.DataFrame(output_list[2]))

In [89]:
df2.shape

(180, 6)

In [90]:
df2.head()

,0,1,2,3,4,5
0,"[[177,341Km], [2005], [NG-805925]]",Ford F-150 2005,"[[177,341Km], [2005], [NG-805925]]","[[\n, [Mileage:], , [177,341Km], \n], [\n, [Y...",Foreign Used,"₦ 3,270,000 ..."
1,"[[2015], [NL-000222]]",2015 Toyota Corolla,"[[2015], [NL-000222]]","[[\n, [Year:], , [2015], \n], [\n, [Car ID:],...",Foreign Used,"₦ 4,750,000 ..."
2,"[[2019], [NL-000162]]",2019 Mercedes-Benz GLC300,"[[2019], [NL-000162]]","[[\n, [Year:], , [2019], \n], [\n, [Car ID:],...",Foreign Used,"₦ 20,000,000 ..."
3,"[[2014], [NL-000217]]",2014 Mercedes-Benz ML350,"[[2014], [NL-000217]]","[[\n, [Year:], , [2014], \n], [\n, [Car ID:],...",Foreign Used,"₦ 15,200,000 ..."
4,"[[93,916Km], [2015], [NG-801404]]",2015 Mercedes-Benz C300,"[[93,916Km], [2015], [NG-801404]]","[[\n, [Mileage:], , [93,916Km], \n], [\n, [Ye...",Nigerian Used,"₦ 10,090,000 ..."