In [85]:
#import libraries
import pandas as pd
import numpy as np
import re

In [88]:
#load cars dataset
cars_df = pd.read_csv('./webscraping/cars_data.csv')

In [90]:
cars_df.head(10)

,make,mileage,year,condition,price
0,Ford F-150 2005,"177,341Km\r\n",2005\r\n,Foreign Used,"3,270,000 ..."
1,2015 Toyota Corolla,2015\r\n,NL-000222\r\n,Foreign Used,"4,750,000 ..."
2,2019 Mercedes-Benz GLC300,2019\r\n,NL-000162\r\n,Foreign Used,"20,000,000 ..."
3,2014 Mercedes-Benz ML350,2014\r\n,NL-000217\r\n,Foreign Used,"15,200,000 ..."
4,2015 Mercedes-Benz C300,"93,916Km\r\n",2015\r\n,Nigerian Used,"10,090,000 ..."
5,2017 Mitsubishi Outlander,2017\r\n,NL-000218\r\n,Foreign Used,"13,500,000 ..."
6,2016 Lexus GX460,2016\r\n,NL-000163\r\n,Foreign Used,"18,000,000 ..."
7,2016 Mercedes Benz GLE450,2016\r\n,NL-000169\r\n,Foreign Used,"40,000,000 ..."
8,2017 Lexus IS250,2017\r\n,NL-000168\r\n,Foreign Used,"9,000,000 ..."
9,2010 Mazda 3,"201,640Km\r\n",2010\r\n,Foreign Used,"2,250,000 ..."

In [99]:
cars_df.columns

Index(['make', 'mileage', 'year', 'condition', 'price'], dtype='object')

In [44]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4560 entries, 0 to 4559
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   make       4559 non-null   object
 1   mileage    4560 non-null   object
 2   year       4560 non-null   object
 3   condition  4560 non-null   object
 4   price      4560 non-null   object
dtypes: object(5)
memory usage: 178.2+ KB

In [91]:
#remove unwanted characters and white spaces in price column
cars_df['price'] = cars_df['price'].replace(regex=True,to_replace=r'\r''\n',value=r'').replace(regex=True,to_replace='                                                                            ', value = r'').replace(regex=True,to_replace=',', value = r'').replace(regex=True,to_replace=' ', value = r'')

In [5]:
cars_df['price'].head(30)

0      3270000
1      4750000
2     20000000
3     15200000
4     10090000
5     13500000
6     18000000
7     40000000
8      9000000
9      2250000
10     4322000
11     1018000
12     1578000
13     3370000
14     1466000
15      480400
16    14570000
17      794000
18     7514000
19     2026000
20     3258000
21     5050000
22     1018000
23      626000
24     1690000
25     1466000
26     2810000
27     2362000
28     1802000
29     3818000
Name: price, dtype: object

In [92]:
#remove unwanted characters and white spaces in year column
cars_df['year'] = cars_df['year'].replace(regex=True,to_replace=r'\r''\n',value=r'').replace(regex=True,to_replace=' ', value = r'')#remove unwanted characters and white spaces in price column

In [94]:
#drop rows without year values
cars_df.drop(cars_df.index[list(
    map(lambda x: x.startswith('N'), cars_df['year']))], inplace=True)

In [95]:
cars_df['year'].head(10)

0     2005
4     2015
9     2010
11    2012
12    2004
13    2006
14    2002
15    2000
16    2019
17    2000
Name: year, dtype: object

In [102]:
#remove unwanted characters and white spaces in mileage column
cars_df['mileage'] = cars_df['mileage'].replace(regex=True,to_replace=r'\r''\n',value=r'').replace(regex=True,to_replace=r',',value=r'').replace(regex=True,to_replace=r' ',value=r'').replace(regex=True,to_replace=r'Km',value=r'')

In [103]:
cars_df['mileage'].head(10)

0     177341
4      93916
9     201640
11    115599
12     98986
13    263060
14    216399
15    204743
16     10251
17    242189
Name: mileage, dtype: object

In [80]:
cars_df['make']= cars_df['make'].replace(regex=True,to_replace=r'[1-3][0-9]{3}',value=r'')

In [81]:
cars_df['make'].head(20)

0               Ford F-150
1            Toyota Corolla
2      Mercedes-Benz GLC300
3       Mercedes-Benz ML350
4        Mercedes-Benz C300
5      Mitsubishi Outlander
6               Lexus GX460
7      Mercedes Benz GLE450
8               Lexus IS250
9                   Mazda 3
10       Mercedes-Benz C300
11            Nissan Almera
12             Toyota Camry
13              Honda Pilot
14             Lexus Es 300
15                Mazda Mpv
16            Toyota Sienna
17            Ford Windstar
18             Toyota HiAce
19             Lexus Is 250
Name: make, dtype: object

In [56]:
cars_df[list(map(lambda x: x.startswith('N'), cars_df['year']))].count()

make         203
mileage      203
year         203
condition    203
price        203
dtype: int64

In [83]:
#for i in cars_df['year']:
    # pass the regular expression
#    regex = 'a-zA-Z'
     # and the string in search() method
        
#    if re.match(regex, i):
#        cars_df.year[i] = cars_df.mileage[
    
#    else:
#        cars_df.year[i] = cars_df.year

In [82]:
cars_df['year'].head(20)

0          2005
1     NL-000222
2     NL-000162
3     NL-000217
4          2015
5     NL-000218
6     NL-000163
7     NL-000169
8     NL-000168
9          2010
10    NG-912345
11         2012
12         2004
13         2006
14         2002
15         2000
16         2019
17         2000
18         2000
19         2007
Name: year, dtype: object