In [46]:
#import libraries
import pandas as pd
import numpy as np
import re

In [55]:
cars_df = pd.read_csv('./webscraping/cars_data.csv')

In [56]:
def clean_data():
    cars_df.columns = ['make', 'mileage(Km)', 'year', 'condition', 'price(₦)']
    for column in cars_df.columns:
        if column == 'make':
            cars_df[column]= cars_df[column].replace(regex=True,to_replace=r'[1-3][0-9]{3}',value=r'')
        elif column == 'mileage(Km)':
            #remove unwanted characters and white spaces in mileage column
            cars_df['mileage(Km)'] = cars_df['mileage(Km)'].replace(regex=True,to_replace=r'\r''\n',value=r'').replace(regex=True,to_replace=r',',value=r'').replace(regex=True,to_replace=r' ',value=r'').replace(regex=True,to_replace=r'Km',value=r'')
        elif column == 'year':
            #remove unwanted characters and white spaces in year column
            cars_df['year'] = cars_df['year'].replace(regex=True,to_replace=r'\r''\n',value=r'').replace(regex=True,to_replace=' ', value = r'')
            #drop rows without year values
            cars_df.drop(cars_df.index[list(
                map(lambda x: x.startswith('N'), cars_df['year']))], inplace=True)
        elif column == 'price(₦)':
            #remove unwanted characters and white spaces in price column
            cars_df['price(₦)'] = cars_df['price(₦)'].replace(regex=True,to_replace=r'\r''\n',value=r'').replace(regex=True,to_replace='                                                                            ', value = r'').replace(regex=True,to_replace=',', value = r'').replace(regex=True,to_replace=' ', value = r'')
            
        else:
            column

In [58]:
clean_data()

In [59]:
cars_df.head()

                   make mileage(Km)  year         condition  price(₦)
0           Ford F-150       177341  2005    Foreign Used     3270000
4    Mercedes-Benz C300       93916  2015   Nigerian Used    10090000
9               Mazda 3      201640  2010    Foreign Used     2250000
11        Nissan Almera      115599  2012   Nigerian Used     1018000
12         Toyota Camry       98986  2004   Nigerian Used     1578000